# Server Configuration
PORT=3000
ENV=development
LOG_LEVEL=info

ACCESS_COOKIE_NAME=some-name-for-cookie

# Session
JWT_SECRET=you-should-generate-a-random-string

# Database Configuration
DATABASE_URL=your-database-url-here

#Arcjet
ARCJET_KEY=